body
{
	background: lightblue;
}

.login_div1 , .login_div2
{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 15px;
}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
	width : 75%;
}

#player_name_1, #player_name_2, #player_2_score, #player_1_score
{
	display: inline-block;
	margin-left: 20px;

}
#input_word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output_ques
{
background: white;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
width:80%;
}
